﻿@model ShermanInmuebles.DAL.Inmueble

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Inmueble</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Propietario.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Propietario.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoInmueble.nombre_tipoinmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoInmueble.nombre_tipoinmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.idcolonia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idcolonia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_registro_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_registro_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_baja_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_baja_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_inicio_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_inicio_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_fin_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_fin_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_notificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_notificacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_vigencia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_vigencia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.promocion_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.promocion_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.clave_catastral_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.clave_catastral_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.uso_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.uso_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estatus_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estatus_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.comentarios_estatus_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.comentarios_estatus_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ano_construccion_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ano_construccion_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estado_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estado_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.unidad_superficie_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.unidad_superficie_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.precio_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.precio_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.moneda_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.moneda_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.publicar_domicilio_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.publicar_domicilio_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.domicilio_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.domicilio_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.numero_ext_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numero_ext_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.numero_int_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numero_int_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.entre_calles_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.entre_calles_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.zona_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.zona_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.referencia1_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.referencia1_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.referencia2_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.referencia2_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ampi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ampi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.visitas_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.visitas_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.visitas_busqueda)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.visitas_busqueda)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.especificaciones_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.especificaciones_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.comentarios_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.comentarios_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.observaciones_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.observaciones_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.videoyoutube1_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.videoyoutube1_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.videoyoutube2_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.videoyoutube2_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.videoyoutube3_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.videoyoutube3_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.num_estacionamientos_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.num_estacionamientos_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.num_recamaras_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.num_recamaras_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.num_banos_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.num_banos_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.num_medios_banos_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.num_medios_banos_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.num_cuartos_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.num_cuartos_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.niveles_construidos_inmueble)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.niveles_construidos_inmueble)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lat_mapa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lat_mapa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lng_mapa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lng_mapa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.zoom_mapa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.zoom_mapa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tipo_mapa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo_mapa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lat_sv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lat_sv)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lng_sv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lng_sv)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.zoom_sv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.zoom_sv)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.yaw_sv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yaw_sv)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.pitch_sv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pitch_sv)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.total_fotos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.total_fotos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>