﻿@model IEnumerable<ShermanInmuebles.DAL.Inmueble>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Propietario.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoInmueble.nombre_tipoinmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idcolonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_registro_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_baja_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_inicio_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_fin_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_notificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_vigencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.promocion_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clave_catastral_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uso_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estatus_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comentarios_estatus_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ano_construccion_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unidad_superficie_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moneda_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publicar_domicilio_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.domicilio_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero_ext_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero_int_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.entre_calles_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zona_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.referencia1_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.referencia2_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ampi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.visitas_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.visitas_busqueda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especificaciones_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comentarios_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observaciones_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.videoyoutube1_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.videoyoutube2_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.videoyoutube3_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_estacionamientos_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_recamaras_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_banos_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_medios_banos_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_cuartos_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.niveles_construidos_inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lat_mapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lng_mapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zoom_mapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_mapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lat_sv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lng_sv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zoom_sv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yaw_sv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pitch_sv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_fotos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Propietario.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoInmueble.nombre_tipoinmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idcolonia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_registro_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_baja_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_inicio_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_fin_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_notificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_vigencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.promocion_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clave_catastral_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uso_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estatus_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comentarios_estatus_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ano_construccion_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unidad_superficie_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.moneda_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publicar_domicilio_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.domicilio_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numero_ext_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numero_int_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.entre_calles_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zona_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.referencia1_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.referencia2_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ampi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.visitas_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.visitas_busqueda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especificaciones_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comentarios_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.observaciones_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.videoyoutube1_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.videoyoutube2_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.videoyoutube3_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_estacionamientos_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_recamaras_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_banos_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_medios_banos_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_cuartos_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.niveles_construidos_inmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lat_mapa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lng_mapa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zoom_mapa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo_mapa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lat_sv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lng_sv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zoom_sv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yaw_sv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pitch_sv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_fotos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idinmueble }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idinmueble }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idinmueble })
                </td>
            </tr>
        }

    </table>
</div>