﻿@model ShermanInmuebles.WebAPI.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Crear contraseña";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <p class="text-info">
        No tiene un nombre de usuario y contraseña local para este sitio. Agregue una cuenta
        local para que pueda iniciar sesión sin un inicio de sesión externo.
    </p>

    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>Crear inicio de sesión local</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Establecer contraseña" class="btn btn-default" />
            </div>
        </div>
    }
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
