﻿@model ShermanInmuebles.DAL.Propietario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Propietario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellidoPaterno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellidoPaterno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellidoMaterno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellidoMaterno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.domicilio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.domicilio)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>