﻿@model ShermanInmuebles.DAL.Propietario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Propietario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellidoPaterno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellidoPaterno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellidoMaterno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellidoMaterno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.domicilio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.domicilio)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idpropietario }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>