﻿@model IEnumerable<ShermanInmuebles.DAL.Propietario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Owners list</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.domicilio)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoMaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.domicilio)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idpropietario }, new { @class = "btn btn-sm btn-success" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idpropietario }, new { @class = "btn btn-sm btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idpropietario }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>