﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <div class="search-container">
                <h1>Sherman Real Estate</h1>

                <div class="form-container">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <input type="text" class="form-control txtSearch" placeholder="Address, City, Zip">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search by <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Rent</a></li>
                                        <li><a href="#">Sold</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <img src="../../content/images/1453179204200.8b6369eceea6e3a18448a9c9f9836219.png" />
                    <h3>Price Lookup</h3>
                </a>
                <p>Search estimated values, energy scores and market insights for any property in USA.</p>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <img src="../../content/images/1469761191358.20f00e08b1c4fb402f4075e171559376.png" />
                    <h3>International</h3>
                </a>
                <p class="rea-product-blurb">Thinking abroad? You can now dream and discover international properties.</p>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <img src="../../content/images/1480377578203.178300fcb4a86558f2ffb99b8cbbba0f.png" />
                    <h3>Sell</h3>
                </a>
                <p class="rea-product-blurb">Understand your local market, learn how to get the best price for your property and find agents in your area.</p>
            </div>
        </div>
    </div>



    <div class="row top-buffer">
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <div class="view overlay hm-white-slight z-depth-1">
                        <img src="https://ap.rdcpix.com/1676294677/63c2027995555a0cebc2a8eedc435b10l-m0xd-w640_h480_q80.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="card-content">
                    <h3>$2,500,00.00</h3>
                    <ul class="list-unstyled">
                        <li>1347-1351 Divisadero St, San Francisco</li>
                        <li>4,473 sq ft</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-block">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <div class="view overlay hm-white-slight z-depth-1">
                        <img src="https://ap.rdcpix.com/1303440764/34ac40767ae76d7f980d22e3278dc0c7l-m0xd-w640_h480_q80.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="card-content">
                    <h3>$2,500,00.00</h3>
                    <ul class="list-unstyled">
                        <li>200-200 Brannan St Unit St, San Francisco</li>
                        <li>2bd / 2 ba / 1,949 sq ft</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-block">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <div class="view overlay hm-white-slight z-depth-1">
                        <img src="https://ap.rdcpix.com/885759247/756d647f0055b255a554a46cc1ce96a7l-m0xd-w640_h480_q80.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="card-content">
                    <h3>$799,999.00</h3>
                    <ul class="list-unstyled">
                        <li>143 Fair Oaks St, San Francisco</li>
                        <li>1 bd / 2 ba / 1,949 sq ft</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-block">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <div class="view overlay hm-white-slight z-depth-1">
                        <img src="https://ap.rdcpix.com/1275289631/e6427f7b857d975ada0305732aedc5c4l-m0xd-w640_h480_q80.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="card-content">
                    <h3>$995,000.00</h3>
                    <ul class="list-unstyled">
                        <li>1567 29th Ave, San Francisco</li>
                        <li>3bd / 2ba / 1,593 sq ft</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-block">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>