﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sherman Inmuebles</title>
    @Styles.Render("~/Styles")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", null, new {@class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<div class="container body-content">
        
    </div>*@
    @RenderBody()

    <br />
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <p class="text-muted">Sherman Real Estate</p>
                </div>
                <div class="col-md-6 text-center">
                    <p class="text-muted">2017</p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
